﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="#">Учебный проект</a></h1>
            </div>
            <div id="slogan">
                <h2>Всегда на связи!</h2>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="menu">
                <ul>
                    <li class="first current_page_item">@Html.ActionLink("Моя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Мои друзья", "Index", "Friends")</li>
                    <li>@Html.ActionLink("Мои сообщения", "Index", "Messages")</li>
                    <li>@Html.ActionLink("Поиск", "Index", "Search")</li>
                    <li class="last">@Html.ActionLink("Выход", "Logout", "Account")</li>
                </ul>
                <br class="clearfix" />
            </div>
        }

       
        <div id="page">
            <div id="content">
                @RenderBody()
                <br class="clearfix" />
            </div>
            <br class="clearfix" />
        </div>
        <div id="page-bottom">
            <div id="page-bottom-content" >
                <h3 ">Место для рекламы!</h3>
                <p>
                    Euismod sodales sociis hendrerit pulvinar molestie urna. Consectetur egestas sodales at ornare laoreet turpis. Lorem id sapien ridiculus sagittis imperdiet urna suspendisse. Posuere arcu parturient quam risus. Aliquam nullam magnis integer gravida vulputate felis. Consectetur montes sollicitudin dictum. Auctor sociis hendrerit pulvinar molestie urna lorem ipsum dolor vivamus pulvinar libero. Massa egestas cubilia lacus augue mattis consectetur.
                </p>
            </div>
            
            <br class="clearfix" />
        </div>
    </div>
    <div id="footer">
        &copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.
    </div>
</body>
</html>
