﻿@using WebApplication.Models
@model List<IncomingMessageViewModel>

@{
    ViewBag.Title = "Мои сообщения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Входящие | @Html.ActionLink("Исходящие", "Outgoing", "Messages") </h2>
<table>
    <tr>
        <td style="padding-right:10px; font-size:14px;">От кого</td>
        <td>Когда</td>
        <td> </td>
    </tr>

    @foreach (IncomingMessageViewModel message in Model)
    {
    <tr>
        <td style="padding-right:10px; font-size:14px;">@message.UserForm.LastName @message.UserForm.FirstName </td> 
        <td style="padding-right:10px; font-size:14px;">@message.Message.CreatedDate.ToShortDateString()</td>
        <td>@message.Message.Text </td>
    </tr>
    }
</table>

