﻿@using WebApplication.Models
@model List<OutgoingMessageViewModel>
@{
    ViewBag.Title = "Мои сообщения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink("Входящие", "Index", "Messages") | Исходящие </h2>
<table>
    
    <tr >
        
        <td style="padding-right:10px; font-size:14px;">Кому</td> &nbsp;
        <td>Когда</td> &nbsp;
        <td rowspan="2"></td>
    </tr>
  
    @foreach (OutgoingMessageViewModel message in Model)
    {
        <tr>

            <td  style="padding-right:10px; font-size:14px;">@message.UserTo.LastName @message.UserTo.FirstName </td> &nbsp;
            <td  style="padding-right:10px; font-size:14px;">@message.Message.CreatedDate.ToShortDateString()</td> &nbsp;
            <td  style="color: #333366; font-size:16px;" rowspan="2" ; width: 160px;  word-break: break-all;>@message.Message.Text </td>
        </tr>
    }
</table>

