﻿@using WebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добро пожаловать к нам на сайт!</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.ValidationSummary(true)
        </p>
        <p>
            Логин: @Html.TextBoxFor(x=>x.UserName) @Html.ValidationMessageFor(x => x.UserName)
        </p>
        <p>
            Пароль: @Html.EditorFor(x=>x.Password) @Html.ValidationMessageFor(x => x.Password)
        </p>
        <input type="submit" value="Вход"/>

        <P>
            Если у вас нет аккаунта  @Html.ActionLink("ЗАРЕГИСТРИРУЙТЕСЬ","Register")
        </P>
    }
</div>

