﻿@using WebApplication.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация на сайте";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация на сайте</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.ValidationSummary(true)
        </p>
        <p>
            Логин: @Html.TextBoxFor(x => x.UserName) @Html.ValidationMessageFor(x => x.UserName)
        </p>
        <p>
            Пароль: @Html.EditorFor(x => x.Password) @Html.ValidationMessageFor(x => x.Password)
        </p>
        <p>
            Введите пароль еще раз: @Html.EditorFor(x => x.ConfirmPassword) @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </p>
        <p>
            Email: @Html.TextBoxFor(x => x.Email) @Html.ValidationMessageFor(x => x.Email)
        </p>
        <p>
            Введите Email еще раз: @Html.TextBoxFor(x => x.ConfirmEmail) @Html.ValidationMessageFor(x => x.ConfirmEmail)
        </p>
        <p>
            Номер телефона: @Html.TextBoxFor(x => x.NumberPhone) @Html.ValidationMessageFor(x => x.NumberPhone)
        </p>
        <p>
            Фамилия: @Html.TextBoxFor(x => x.LastName) @Html.ValidationMessageFor(x => x.LastName)
        </p>
        <p>
            Имя: @Html.TextBoxFor(x => x.FirstName) @Html.ValidationMessageFor(x => x.FirstName)
        </p>
        <p>
            Отчество: @Html.TextBoxFor(x => x.MiddleName) @Html.ValidationMessageFor(x => x.MiddleName)
        </p>

        <input type="submit" value="Заверщить регистрацию" />
    }
</div>

