﻿@using WebApplication.Models
@using Domain.Entities
@model FriendsViewModel
@{
    ViewBag.Title = "Мои друзья";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои друзья</h2>
@foreach (User user in Model.Friends)
{
<div>
    @Html.ActionLink(user.LastName + "    " + user.FirstName + "     " + user.MiddleName, "Index", "Home", new { id = user.Id }, null) &nbsp;
    (@Html.ActionLink("Сообщение", "NewMessage", "Messages", new { userToId = user.Id }, null)
    &nbsp; или &nbsp;
    @Html.ActionLink("Удалить из друзей", "DeleteFriend", "Friends", new { id = user.Id }, null))
</div>
}

<h2>Входящие заявкия</h2>
@foreach (User user in Model.IncomingRequests)
{
<div>
    @Html.ActionLink(user.LastName + "    " + user.FirstName + "    " + user.MiddleName, "Index", "Home", new { id = user.Id }, null) &nbsp;
    (@Html.ActionLink("Подтвердить заявку", "ConfirmFriendRequest", "Friends", new { id = user.Id }, null)
    &nbsp; или &nbsp;
    @Html.ActionLink("Отклонить заявку", "DisagreeFriendRequest", "Friends", new { id = user.Id }, null))
</div>
}

<h2>Исходящие заявкия</h2>
@foreach (User user in Model.OutgoingRequests)
{
<div>
    @Html.ActionLink(user.LastName + " " + user.FirstName + " " + user.MiddleName, "Index", "Home", new { id = user.Id }, null) &nbsp;
    (@Html.ActionLink("Отклонить заявку", "ConcelFriendRequest", "Friends", new { id = user.Id }, null))
</div>
}