﻿@using WebApplication.Models
@model UserViewModel
@{
    ViewBag.Title = Model.User.LastName + " " + Model.User.FirstName + " " + Model.User.MiddleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Фамилия: <b> &nbsp; @Model.User.LastName</b>
</p>
<p>
    Имя:<b> &nbsp; @Model.User.FirstName</b>
</p>
<p>
    Отчество: <b> &nbsp;  @Model.User.MiddleName</b>
</p>

<div style="border:2px solid red; padding: 5px 5px 5px 5px;">
    @if (Model.UserIsMe)
    {
        <div>
            Это ваша страница!
        </div>
    }
    else if (Model.UserIsMyFriend)
    {
        <div>
            Этот пользователь у вас в друзьях. @Html.ActionLink("Написать сообщение", "NewMessage", "Messages", new { userToId = Model.User.Id }, null)
            или
            @Html.ActionLink("Удалить из друзей", "DeleteFriend", "Friends", new { id = Model.User.Id }, null)
        </div>
    }
    else if (Model.FriendRequestIsSent)
    {
        <div>
            Вы отправили заявку в друзья. Подождите пока пользователь подтвердит ее!
            @Html.ActionLink("Отменить заявку", "ConcelFriendRequest", "Friends", new { id = Model.User.Id }, null)
        </div>
    }
    else
    {
        <div>

            @Html.ActionLink("Добавить в друзья", "AddFriendRequest", "Friends", new { id = Model.User.Id }, null)
        </div>
    }


</div>

<p style=" margin-top:15px; font-size: 1.55em; color:aqua;" >
    @Html.ActionLink("Выход", "Logout", "Account")
</p>

