﻿@using Domain.Entities
@model IEnumerable<User>
@{
    ViewBag.Title = "Поиск пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поиск пользователя</h2>
<div>
    @using (Html.BeginForm())
    {
        <p> Поиск пользователя по ФИО </p>
        <p> Фамилия: @Html.TextBox("lastName")</p>
        <p> Имя: @Html.TextBox("firstName")</p>
        <p> Отчество: @Html.TextBox("middleName")</p>
        <input type="submit" value="Поиск" />
    }
</div>
@if(Model != null && Model.Any())
{
    <p>Результат поиска: </p>
    foreach (User user in Model)
    {
        <div>
            @Html.ActionLink(user.LastName + " "+ user.FirstName + " " + user.MiddleName, "Index", "Home", new { id = user.Id}, null )
        </div>
    }
}

